{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ subject.subject_name }}</h2>
                    <h5 class="card-title">Name of Faculty: {{ subject.staff_id.first_name|capfirst }} {{ subject.staff_id.last_name|capfirst }}</h5>
                    {% if syllabus %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Unit No.</th>
                                    <th scope="col">Content of Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for topic in syllabus %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ topic.topics }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Syllabus is not available for this subject.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
